<h1>show page</h1>
<%= @education.tenth_board %>
<%= @education.tenth_school_name %>
<%= @education.tenth_percentage %>
<%= @education.twelvth_board %>
<%= @education.twelvth_school_name %>
<%= @education.twelvth_percentage %>
<%= @education.entrance_rank %>
